.settings-screen {
  width: 100%;
  min-width: 500px;
  padding: 0;
}

.settings-screen__title {
  font-size: 13px;
}

.settings-screen__section {
  border-top: 1px solid var(--section-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  min-height: 48px;
}

.settings-screen__controls {
  display: flex;
  align-items: center;
}

.settings-screen__controls-item {
  margin-right: 10px;
}

.settings-screen__controls-item:last-child {
  margin-right: 0;
}
