.code-editor {
  width: 100%;
  height: 100%;
  position: relative;
}

.code-editor .CodeMirror {
  background-color: var(--input-normal-background);
  border: 1px solid var(--input-normal-border-color);
  font-size: var(--button-font-size);
  border-radius: 3px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.code-editor .CodeMirror-focused {
  border-color: var(--global-focus-border-color);
  box-shadow: var(--global-focus-box-shadow);
}
