.button {
  background-color: var(--button-normal-background);
  border-color: var(--button-normal-border-color);
  color: var(--button-normal-color);

  border-width: 1px;
  border-style: solid;
  border-radius: 3px;

  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: 500;
  min-width: 76px;
  flex-grow: 0;
}

.button:hover {
  background-color: var(--button-hover-background);
  border-color: var(--button-hover-border-color);
  color: var(--button-hover-color);
}

.button:active {
  background-color: var(--button-active-background);
  border-color: var(--button-active-border-color);
  color: var(--button-active-color);
}

.button:focus {
  border-color: var(--global-focus-border-color);
  box-shadow: var(--global-focus-box-shadow);
  outline: 0;
}
