.option-control {
  color: var(--global-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.option-control__details {
  color: var(--option-control-title-color);
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.option-control__title {
  color: var(--option-control-title-color);
}

.option-control__description {
  color: var(--option-control-description-color);
}

.option-control__control {
  flex-shrink: 0;
}
