:root {
  --global-background: #FFFFFF;
  --global-color: #2A2B2E;
  --global-focus-border-color: #2088FF;
  --global-focus-box-shadow: 0 0 0 2px rgba(32, 136, 255, 0.3);

  --item-hover-background: #F6F7F7;
  --item-selected-background: #EAEBEB;

  --item-padding: 10px 15px;
  --item-padding-left-right: 15px;

  --button-normal-background: #FFFFFF;
  --button-hover-background: #FAFAFA;
  --button-active-background: #D6E1EF;

  --button-normal-border-color: #DADCE0;
  --button-hover-border-color: #D7D9DD;
  --button-active-border-color: #C5D2E3;

  /* Less padding on top to optically align in the center. */
  --button-padding: 7px 15px 8px;
  --button-padding-left-right: 15px;
  --button-font-size: 13px;
  --button-normal-color: #2C7CEA;
  --button-hover-color: #1D74E9;
  --button-active-color: #1D74E9;
  --button-danger-color: #C5392A;

  --input-normal-background: #FFFFFF;
  --input-normal-color: #2A2B2E;
  --input-normal-border-color: #B1B1B1;
  --input-placeholder-color: #757575;

  --icon-normal-fill: #5F6369;

  --toolbar-border-color: #E1E3E6;

  --list-heading-background: var(--global-background);
  --list-heading-color: #5F6368;
  --list-heading-border-color: #DADCE0;

  --context-menu-shadow: 0 2px 6px #9E9E9E;
  --context-menu-background: #FFFFFF;
  --context-menu-item-hover-background: var(--item-selected-background);
  --context-menu-item-color: var(--global-color);
}

@media(prefers-color-scheme: dark) {
  :root {
    --global-background: #292A2D;
    --global-color: #E1E1E1;
    --global-focus-box-shadow: 0 0 0 1px rgba(32, 136, 255, 1);

    --item-hover-background: #38393C;
    --item-selected-background: #4C4E52;

    --button-normal-background: #292A2D;
    --button-hover-background: #303339;
    --button-active-background: #363B46;

    --button-normal-border-color: #5F6368;
    --button-hover-border-color: #636971;
    --button-active-border-color: #646C78;

    --button-normal-color: #8DB8FE;
    --button-hover-color: #8DB8FE;
    --button-active-color: #85AAE9;
    --button-danger-color: #F28B82;

    --input-normal-background: #1D1D1F;
    --input-normal-color: #E1E1E1;
    --input-normal-border-color: #5F6368;
    --input-placeholder-color: #919191;

    --icon-normal-fill: #9AA0A7;

    --toolbar-border-color: #393D40;

    --list-heading-background: var(--global-background);
    --list-heading-color: #9AA0A6;
    --list-heading-border-color: #3C4043;

    --context-menu-shadow: rgba(0, 0, 0, .3) 0 1px 2px 0, rgba(0, 0, 0, .15) 0 3px 6px 2px;
    --context-menu-background: #303134;
    --context-menu-item-hover-background: var(--item-selected-background);
    --context-menu-item-color: var(--global-color);
  }
}

body {
  background-color: var(--global-background);
  color: var(--global-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  overflow: hidden;
}
