.app {
  background: white;
  min-width: 250px;
  max-width: 420px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  .app {
    background-color: #292A2D;
    background-color: #000000;
    color: white;
  }
}
