.onboard {
  text-align: center;
  padding: 25px 14px;
}

.onboard__message {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
}

.onboard__button {
  border: 1px solid #DFE1E4;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  color: #2A7CEA;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 12px;
}

@media (prefers-color-scheme: dark) {
  .onboard__button {
    color: #8DB8FE;
    border-color: #575A5F;
  }
}
