.toolbar-button {
  background-color: var(--button-normal-background);
  border-color: transparent;
  color: var(--button-normal-color);
  display: flex;
  justify-content: center;
  align-items: center;

  border-width: 1px;
  border-style: solid;
  border-radius: 3px;

  padding-left: 8px;
  font-size: var(--button-font-size);
  height: 34px;
  font-weight: 500;
  width: 100%;
}

.toolbar-button:hover {
  background-color: var(--button-hover-background);
  color: var(--button-hover-color);
}

.toolbar-button:active {
  background-color: var(--button-active-background);
  color: var(--button-active-color);
}

.toolbar-button:focus {
  border-color: var(--global-focus-border-color);
  box-shadow: var(--global-focus-box-shadow);
  outline: 0;
}

.toolbar-button__icon svg {
  height: 14px;
  margin-right: 7px;
}
