.subtle-button {
  border: 1px solid transparent;
  border-radius: 3px;
  background: none;
  padding: 5px;
  color: var(--button-normal-color);
  display: inline;
}

.subtle-button:hover {
  color: var(--button-hover-color);
}

.subtle-button:active {
  color: var(--button-active-color);
  background-color: var(--button-active-background);
}

.subtle-button:focus {
  border-color: var(--global-focus-border-color);
  box-shadow: var(--global-focus-box-shadow);
  outline: 0;
}
