.titlebar {
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  gap: 8px;
}

.titlebar__back-button {
  margin-left: -8px;
}

.titlebar__back-button .icon svg {
  height: 16px;
}

.titlebar__title {
  font-size: 16px;
  font-weight: 500;
}
