.list {}

.list__heading {
  /* background: var(--list-heading-background); */
  color: var(--list-heading-color);
  padding: 8px var(--item-padding-left-right);
  margin-top: 8px;
  /* border-top: 1px solid var(--list-heading-border-color); */
  font-size: 12px;
  position: relative;
}

.list__heading:first-child {
  margin-top: 0;
}

.list__heading:before {
  content: '';
  border-top: 1px solid var(--list-heading-border-color);
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  z-index: 1;
}

.list__heading-label {
  background: var(--list-heading-background);
  position: relative;
  display: inline-block;
  width: auto;
  z-index: 2;
  padding: 0 5px;
  margin-left: -5px;
}

.list__item {
  padding-left: var(--item-padding-left-right);
  padding-right: var(--item-padding-left-right);
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item:hover:not(.list__item--selected) {
  background: var(--item-hover-background);
  border-color: var(--item-hover-background);
}

.list__item--selected {
  background: var(--item-selected-background);
  border-color: var(--item-selected-background);
}

.list__text {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1px;
  text-overflow: ellipsis;
}

.list__actions {
  margin-right: -6px;
}
