.list {}

.list__heading {
  background: var(--list-heading-background);
  color: var(--list-heading-color);
  border-top: 1px solid var(--list-heading-border-color);
  padding: 20px var(--item-padding-left-right) 12px;
  margin-top: 8px;
  font-size: 12px;
  position: relative;
}

.list__heading:first-child {
  margin-top: 0;
}

.list__item {
  padding-left: var(--item-padding-left-right);
  padding-right: var(--item-padding-left-right);
  height: 32px;
  font-size: 12px;
  line-height: 20px;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item:hover:not(.list__item--selected) {
  background: var(--item-hover-background);
  border-color: var(--item-hover-background);
}

.list__item--selected {
  background: var(--item-selected-background);
  border-color: var(--item-selected-background);
}

.list__text {
  width: 100%;
  overflow: hidden;
  margin-bottom: -1px;
  text-overflow: ellipsis;
}

.list__actions {
  margin-right: -6px;
}
