.search-field {
  box-shadow: 0 1px 0 0 var(--list-heading-border-color);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  position: relative;
  z-index: 2;
}

.search-field__input {
  background-color: var(--input-normal-background);
  color: var(--input-normal-color);
  border-color: var(--input-normal-border-color);
  font-size: var(--button-font-size);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  font-family: inherit;
  width: 100%;
  height: 40px;
  padding: 0 11px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}

.search-field__input:focus {
  border-color: var(--global-focus-border-color);
  box-shadow: var(--global-focus-box-shadow);
}

.search-field__input::placeholder {
  color: var(--input-placeholder-color);
}

.search-field__add-button {
  background-color: var(--button-normal-color);
}

.search-field__add-button:focus {
  background-color: var(--button-normal-color);
}

.search-field__add-button svg {
  color: var(--global-background);
}
