.options-screen {
  width: 100%;
  font-size: 13px;
  min-width: 500px;
}

.options-screen__section {
  border-bottom: 1px solid var(--option-control-border-color);
}

.options-screen__section:last-child {
  border-bottom: none;
}

.options-screen__section--footer {
  color: var(--option-control-description-color);
  text-align: center;
  padding: 12px 20px;
}

.options-screen__section--footer a,
.options-screen__section--footer a:visited,
.options-screen__section--footer a:active {
  color: inherit;
  text-decoration: none;
}
