.editor-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.editor-screen__section {
  flex-grow: 0;
  margin-bottom: 16px;
}

.editor-screen__section:last-child {
  margin: 0;
}

.editor-screen__section--full {
  height: 100%;
}

.editor-screen__section--space-between {
  display: flex;
  justify-content:  space-between;
}
