.edit-bookmarklet-screen {
  width: 300px;
}

.edit-bookmarklet-screen__content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.edit-bookmarklet-screen__footer {
  display: flex;
  justify-content: space-between;
  padding: 24px 20px 20px;
}
